{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "modules": false
            }
        ],
        "@babel/typescript"
    ],
    "plugins": []
}
